<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a routerLink="/lugares">Lugares</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{lugar.nombre}}</li>
  </ol>
</nav>

<div class="container">
  <div class="row">
    <div class="col-6">
      <div class="card border-success">
        <div class="card-header">
          <h1>{{ lugar.nombre }}</h1>
        </div>
        <div class="card-body text-secondary">
          
          <h5 class="card-title">{{lugar.description}}</h5>
          <p>
            <small>distancia: {{lugar.distancia}}km</small>
            <br>
            <small class="card-text">Plan: <strong>{{lugar.plan}}</strong></small>
          </p>
          
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="row agm-map" id="map">
      </div>
    </div>
  </div>
</div>